<input
    matInput
    currencyMask
    <% if (options) { %>[options]="<%= options %>"<% } %>
    [magic]="<%= magic %>"
    <% if (typeof rowId !== 'undefined' && rowId) { %>[rowId]="<%= rowId %>"<% } %>
    <% if (attrPlaceholder) { %>[placeholder]="<%= attrPlaceholder %>"<% } %>
    [formControlName]="<%= magic %>"
    mgFormat
    <% if (attrRequired && attrRequired !== 'true') { %>[required]="<%= attrRequired %>"<% } else if (attrRequired === 'true') { %>required<% } %>
    <% if (attrDisabled) { %>[disabled]="<%= attrDisabled %>"<% } %>
>

<% if (zoom) { %>
<button
    mat-icon-button
    matSuffix
    color="primary"
    [magic]="<%= magic %>"
    <% if (typeof rowId !== 'undefined' && rowId) { %>[rowId]="<%= rowId %>"<% } %>
    (click)="onZoom(<%= magic %><% if (typeof rowId !== 'undefined' && rowId) { %>, <%= rowId %><% } %>)"
    <% if (attrDisabled) { %>[disabled]="<%= attrDisabled %>"<% } %>
>
    <mat-icon><%= zoomIcon %></mat-icon>
</button>
<% } %>

